@import '../../static/css/mixin';
.m-tags{
   @include line-bottom();
  padding: 0 4%;
  font-weight: bold;
  background-color: #fff;
   ul{
       overflow: hidden;
       li{
           float: left;
           display: table;
           color: #4e4e4e;
           font-size: 0;
           height: 50px;
           line-height: 50px;
           img{
               width: 22px;
               margin-left: 10px;
               margin-right: 5px;
               float: left;
           }
            span{
                display: table-cell;
                vertical-align: middle;
                font-size: 12px;
            }
         &.ml{
           float: right;
         }
       }

   }
}