.m-count{
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: #d3d4d4;
}
.m-nobegin{
  background:linear-gradient(to right, #51ecb3, #00cec9);
}
.m-begined{
  background: #f00;
}
