@mixin line-bottom(){
    position: relative;
    &:after{
    pointer-events: none;
    width:200%;
    height:200%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    content:"";
    -webkit-transform:scale(0.5);
    -webkit-transform-origin:0 0;
    transform:scale(0.5);
    transform-origin:0 0;
    border-bottom: 1px solid #f1f1f1; 
}
}