/*!
 * ress.css • v1.2.2
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
    box-sizing: border-box;
    overflow-y: scroll; /* All browsers without overlaying scrollbars */
    -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

*,
::before,
::after {
    background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
    box-sizing: inherit;
}

::before,
::after {
    text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
    vertical-align: inherit;
}

* {
    padding: 0; /* Reset `padding` and `margin` of all elements */
    margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */

/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
    display: none;
    height: 0;
}

hr {
    overflow: visible; /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

summary {
    display: list-item; /* Add the correct display in all browsers */
}

small {
    font-size: 80%; /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
    display: none; /* Add the correct display in IE */
}

abbr[title] {
    border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
    text-decoration: none; /* Remove text decoration in Firefox 40+ */
}

a {
    cursor: pointer;
    background-color: transparent; /* Remove the gray background on active links in IE 10 */
    -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
    outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace; /* Specify the font family of code elements */
}

b,
strong {
    font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
    font-style: italic; /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
    background-color: #ff0;
    color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */

input {
    border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
    cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
    cursor: default;
}

[type="number"] {
    width: auto; /* Firefox 36+ */
}

[type="search"] {
    -webkit-appearance: textfield; /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; /* Safari 8 */
}

textarea {
    overflow: auto; /* Internet Explorer 11+ */
    resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
    font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
    font-weight: bold; /* Restore the font weight unset by the previous rule. */
}

button {
    overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    outline: 1px dotted ButtonText;
}

button,
html [type="button"], /* Prevent a WebKit bug where (2) destroys native `audio` and `video`controls in Android 4 */
[type="reset"],
[type="submit"] {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

button,
select {
    text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
}

/* Style select like a standard input */
select {
    -moz-appearance: none; /* Firefox 36+ */
    -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
    display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
    color: currentColor; /* Internet Explorer 11+ */
}

legend {
    border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
    color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
    display: table; /* Correct the text wrapping in Edge and IE */
    max-width: 100%; /* Correct the text wrapping in Edge and IE */
    white-space: normal; /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
    font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
    -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
    outline-offset: -2px; /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */

img {
    border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
    vertical-align: baseline;
}

svg:not(:root) {
    overflow: hidden; /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
    display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */

/* Hide content from screens but not screenreaders */
@media screen {
    [hidden~="screen"] {
        display: inherit;
    }
    [hidden~="screen"]:not(:active):not(:focus):not(:target) {
        position: absolute !important;
        clip: rect(0 0 0 0) !important;
    }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
    cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
    cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
    cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */

/* Specify text selection background color and omit drop shadow */

::-moz-selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc; /* Required when declaring ::selection */
    color: #000;
    text-shadow: none;
}
.whitespace{
    width: 100%;
    height: 10px;
    background: #f5f8fa;
}
/*这一句是用来解决在安卓上的点击出现篮框问题*/
body{ -webkit-tap-highlight-color:rgba(0,0,0,0); }


/*下面是解决ios上去除微信点击蓝色边框 */
a:focus,
input:focus,
p:focus,
div:focus{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-user-modify:read-write-plaintext-only;
}
html,body{
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.react-tabs{
    padding-bottom: 54px;
}
.my-tab-list{
  display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
    display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
    display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;      /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;   /* 混合版本语法: IE 10 */   
  height: 45px;
  line-height: 45px;
  position: relative;
  &:after {
      pointer-events: none;
      width: 200%;
      height: 200%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      content: "";
      -webkit-transform: scale(0.5);
      -webkit-transform-origin: 0 0;
      transform: scale(0.5);
      transform-origin: 0 0;
      border-bottom: 1px solid #f1f1f1;
    }
    li{
        width: 50%;
     -webkit-flex: 1;        /* Chrome */  
    -ms-flex: 1;          /* IE 10 */  
    flex: 1;                /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */  
    -moz-box-flex: 1;       /* OLD - Firefox 19- */      
    text-align: center;
    color: #999;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    position: relative;
    &:active,&:focus{
      outline: none;
      box-shadow: none;
      //box-shadow:inset 1px 1px 1px  #00cec9;
    }
  }
  .react-tabs__tab.react-tabs__tab--selected{
    em{
      position: absolute;
      width: 20px;
      height: 2px;
      background: #000;
      bottom: 1px;
      left: 50%;
      transform: translate(-50%,0);
      z-index: 2;
    }
  }
  .react-tabs__tab--selected{
    border: 0;
    border-radius: 0;
    color: #000;
  }
  .react-tabs__tab{
    padding: 0;
  }
}

.m-video .rh5v-DefaultPlayer_component {
  width: 100%;
  height: 100%;
}
.pull-load {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 0;
}
.pull-load-body {
  position: relative;
}
.test-ul{
    text-align: center;
}
.state-refreshing .pull-load-body {
  transition: transform 0.2s;
}
.state-reset .pull-load-body {
  transition: transform 0.2s;
}


.pull-load-footer-default {
  text-align: center;
  font-size: 12px;
  line-height: 3rem;
  color: #7676a1;
}
.state-loading .pull-load-footer-default:after {
  content: '加载更多';
}
.pull-load-footer-default.nomore:after {
  content: '没有更多';
}
.state-loading .pull-load-footer-default i {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  width: 1em;
  height: 1em;
  border: 2px solid #9494b6;
  border-top-color: #fff;
  border-radius: 100%;
  animation: circle .8s infinite linear;
}
@keyframes circle {
  100% {
    transform: rotate(360deg);
  }
}
.pull-load-footer-default{
    line-height: 2rem;
}

.m-fixFoot{
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background-color:#E84140;
  background-size: 100% 100%;
  font-size: 0;
  z-index: 2;
  .btns{
      display: flex;
        flex: 1;
        overflow: hidden;
        color: #fff;
        font-size: 14px;
    line-height: 54px;
    text-align: center;

  }
  span{
    box-sizing: border-box;
    display: inline-block;
    flex: 1;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    height: 26px;
    line-height: 25px;
    margin:14px 5px;
    @media only screen and (width: 320px) {
      font-size: 12px;
    }
  }

}

body.modal-open {
    position: fixed;
    width: 100%;
}
.empty{
    width: 100%;
    text-align: center;
    padding: 30px 0px 20px;
    img{
        width: 130px;
    }
}


.fadeInUp{
    -webkit-animation:fadeInUp .2s .2s ease both;
    -moz-animation:fadeInUp .2s .2s ease both;
}

@-webkit-keyframes fadeInUp{
    0%{opacity:0;
    -webkit-transform:translateY(20px)}
    100%{opacity:1;
    -webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUp{
    0%{opacity:0;
    -moz-transform:translateY(20px)}
    100%{opacity:1;
    -moz-transform:translateY(0)}
}

.fadeOutDown {
    -webkit-animation: fadeOutDown .2s .2s ease both;
    -moz-animation: fadeOutDown .2s .2s ease both;
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px)
    }
}

@-moz-keyframes fadeOutDown {
    0% {
        opacity: 1;
        -moz-transform: translateY(0)
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(20px)
    }
}