.m-swipe-container{
  position: relative;
.slick-track{

}
  .nowbuy{
    a{
      pointer-events:auto;
    }
  }
}
.detail{
  max-width: 100%;
  .slick-slide{
    text-align: center;
    img{
      display: inline-block;
      max-width: 100%;
      width: 100%;
    }
  }
}
.only{
  img{
    max-width: 100%;
  }
}
.m-computed{
  position: absolute;
  right:20px;
  bottom: 20px;
  width: 41px;
  height: 21px;
  line-height: 21px;
  border-radius: 21px;
  background: rgba(0,0,0,0.3);
  text-align: center;
  font-size: 12px;
  color: #fff;
}
