.m-swipe-container{
.slick-track{

}
  .nowbuy{
    a{
      pointer-events:auto;
    }
  }
}
.detail{
  max-width: 100%;
  .slick-slide{
    text-align: center;
    img{
      display: inline-block;
      max-width: 100%;
      width: 100%;
    }
  }
}
.only{
  img{
    max-width: 100%;
  }
}
