.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.list-swipe{
  position: relative;
  width:100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
   .sw-listpic{
     display: block;
     color: #4e4e4e;
     overflow: hidden;
      position: relative;
     border-bottom: 1px solid #eee;
     padding: 15px 0;
     .ml-img{
        width: 30%;
       float: left;
       margin-right: 15px;
       padding: 0 0 0 2%;
       img{
          width: 100%;
         display: block;
       }
     }
     .ml-title{
        font-size: 14px;
       float: left;
       width: 62%;
       height: 36px;
       line-height: 18px;
       overflow: hidden;

       b{
         font-weight: normal;
       }
     }
     .ml-price{
       float: left;
       width: 62%;
       margin-top: 12px;
       .price{
         width: 40%;
         float: left;
         span{
           display: block;
           &.cx{
             color:#E84141 ;
             font-size: 14px;
             b{
               font-size: 22px;
             }
           }
           &.yj{
             color: #999;
             font-size: 14px;
           }
         }
       }
       .nowbuy{
         width: 60%;
         float: left;
         .msc{
           background-color:#E84141 ;
           font-size: 14px;
           padding: 7px 4px;
           border-radius: 4px;
           display: block;
           text-align: center;
           color: #fff;
           text-decoration: none;
           width: 72px;
           float: right;
           pointer-events: auto;
         }
         .lastnum{
           .sy{
             font-size: 10px;
             display: block;
             text-align: center;
             margin-top: 5px;
             float: left;
             color: #999;
           }
         }


       }
       .overbuy{
         width: 40%;
         float: right;
         .over{
           font-size: 14px;
           display: block;
           text-align: right;
           color:#999 ;
           margin-top: 36px;
           font-weight: bold;
           background:none;
           float: right;
           pointer-events: auto;
         }
       }
     }
     .active-over{
       position: absolute;
       height: 100%;
       width: 100%;
       background-color: rgba(153,153,153,0.7);
       display: flex;
       justify-content:center;
       align-items:center;
       span{
         width: 100px;
         height: 100px;
         border-radius: 50%;
         color: #333;
         background-color: #ffffff;
         display: block;
         font-size: 14px;
         display: flex;
         justify-content:center;
         align-items:center;
         font-weight: bold;
       }
     }
   }

}

.progressBar{width:50%;height:5px;background-color:#eee;border-radius:5px;margin-top:10px; float: right}
.bar{height:5px;border-radius:5px;background:#FF8051;}
.sy-bar{
  font-size: 0;
}
