
.list-box{
  background-color:#F8F8F8 ;
}
.sc-bottom{
  margin-top: 36px;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
}
.slick-dots{
  bottom: -27px;
  li{
    margin: 0px;
    button{
      &:before{
        transform:scale(0.9);
      }
    }
  }
}
.sc-shop{
  line-height: 45px;
  margin: 0 10px;
  font-size: 14px;
}
.bbtton{
  border-bottom: 1px solid #f8f8f8;
}
.sc-phone{
  line-height: 45px;
  margin: 0 10px;
  font-size: 14px;
  border-top: 1px solid #F8F8F8;
  span{
    font-weight: bold;
  }
  a{
    float: right;
    img{
      width: 16px;
      vertical-align: middle;
    }
  }
}
.sc-address{
  line-height: 45px;
  margin: 0 10px;
  font-size: 14px;
  border-top: 1px solid #F8F8F8;
  span{
    font-weight: bold;
  }
  a{
    width: 100%;
    display: block;
    .dw{
     margin-right: 10px;
      width: 14px;
      vertical-align: middle;
      float: left;
      margin-top: 14px;
    }
    .ri{
      float: right;
      margin-top: 16px;
      width: 6px;
      vertical-align: middle;
    }
  }
}
.buy-info{
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  .sc-shop{
    line-height: 45px;
    padding: 0 10px;
    font-size: 14px;
  }
  img{
    width: 100%;
  }
}
.active-over{
  .logo{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: 0 0;
    max-width: 100%;
    width: 40%;
  }
  .undershelf{
    text-align: center;
    margin-top: 80%;
    display: block;
    color: #999;
  }
}
